:root {
    --darkest: rgba(23, 23, 23, 1);
    --darker: #424242;
    --dark: rgb(109, 109, 109);
    
    
    --grey: #979797;
    --semilight: #c2c2c2;
    --light: #ececec;

    --mecute: "me pic 1.jpg";
    --grad: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Condensed", "Helvetica",sans-serif;
}



/* Header Control */



#head{
    height: 0px;
}



.my-name {
    text-align: center;
    text-shadow: #101318;
    font-size: 4rem;
    animation: 0.5s ease-out 0s 1 slide_in_top;
    transition: font-size 0.3s ease-out;
}
.my-name:hover {
    font-size: 5rem;
}


#side-bar{

    position:fixed;
    top:0;
    
    z-index:100;

    background-color: var(--darker);

}

.side-togg{

    width: 2.5rem;
}


.side-button {
    margin-top: 1rem;
    text-align: left;

    font-size: 1.5rem;
    animation: 0.5s ease-out 0s 1 slide_in_left;
    transition: font-size 0.3s ease-out;
}

.side-button:hover {
    font-size: 2rem;
}





#name-title {
    font-weight: 100;
    text-align: center;
    animation: 0.75s ease-in 0s 1 slide_in_top;
}



/* Body Control */


/* Introduction Page */



.page{
    background-color: var(--darkest);
    background-image: url("background idea.png");
    min-height: 100vh;
    color: var(--light);
    width: 100%;
}

#introduction{
    background-image:
    linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
    url("me pic 1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 5rem;
    

}
#short-about {
    background-image:
    linear-gradient(to bottom,rgba(23, 23, 23, 1), rgba(245, 246, 252, 0)),
    url("background idea.png");
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
}
.coding-text
{
    align-self: stretch;
    max-width: 100%;
    min-width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.coding-text h1 {
    opacity: 1;
    
}
.coding-text h2 {
    opacity: 0.8;
    margin-left: 5vw;
}
.coding-text h3 {
    opacity: 0.6;
    margin-left: 10vw;
}
.coding-text p {
    opacity: 0.4;
    margin-left: 15vw;
}



.icons-home {
    align-self: stretch;
    max-width: 480px;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hello{


    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hello li {
display: flex;
flex-direction: row;
padding: 0,0;
margin-left: 2.5%;
}
#hello ul {
    display: flex;
    flex-direction: row;
    padding: 0,0;
    margin-left: 5%;
    }

#introduction h1{
    color: var(--light);
    font-size: 5vw;
    padding-left: 5px;
    transition: color 0.5s;
    
}

#introduction h1:hover{
    color: crimson
}

#introduction h2{
    color: var(--light);
    font-size: 5vw;
    padding-left: 8px;
    animation-delay: 0.5s;
    transition: color 0.5s;
}

#introduction h2:hover{
    color: crimson
}


#introduction h3{
    color: var(--light);
    font-size: 5vw;
    padding-left: 8px;

    animation-delay: 1s;
    transition: color 0.5s;
}

#introduction h3:hover{
    color: crimson;
}









@keyframes iconslideshow {
    0% {
        opacity: 0;
        max-height: 240px;
        transform: skewY(-40deg);
    }
    25% {
        opacity: 1;
        max-height: 480px;
        transform: skewY(0deg);
    }
    75% {
        opacity: 1;
        max-height: 480px;
        transform: skewY(0deg);
    }
    100% {
        opacity: 0;
        max-width: 240px;
        transform: skewY(40deg);
    }
}

.icon-pic-new {
    max-height: 480px;
    max-width: 80%;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    animation: 4s ease-in-out iconslideshow;
}



#me-pic {
    max-width: 40vh;
    max-height: 40vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    position: absolute;
    border-radius: 100%;
    transition: max-width 0.5s ease-in-out;
    animation: icon_load_in 1s ease-out;
}

#my-story .me-pic {
    width: 50vh;
    height: 50vh;

    transform: translate(50%, 0%); 
    position: absolute;
    border-radius: 100%;
}


#my-story .text-area {
    width: 40%;
    height: 50%;

    transform: translate(130%, 10%); 
    position: absolute;

}

#about-me-page {
background-color: aqua;
}

#my-story .about-me-diagram {
    width: 100%;
    height: 10%;

    transform: translateY(500%); 
    position: absolute;

}

.fade{
    transform: translateX(100vw);
    animation: diss 1s ease-out;
}

#dia-logo {
    width: 30px;
}

#diagram-bot {
    height: 2px;
    width: 100%;
    background-color: var(--darker);
}
#diagram-left {
    height: 100%;
    width: 2px;
    background-color: var(--darker);
    transform: translateY(-100%);
}


#me-pic:hover {
    max-width: 30vw;
}


#my-story-container {
    background-color: aqua;
    width: 45vw;
    margin-left: 50%;
    height: 95vh;
    margin-top: 5%;
    border-radius: 100%;
}





/* Languages Page */

#language-effect {
    width: 100%;
    height: 0%;    
}

#language-span {

    transform: translateY(-75vh);
    border-radius: 5%;
    height: 70vh;
}

#language-description {
    margin-left: 0%;
}

.app-bubble {
    height: 5vh;
    opacity: 0;
    border-radius: 50%;
    animation: app_animation 2s linear;
    animation-iteration-count: infinite;
}

#app-logo1 {
    animation-delay: 1s;
    margin-left: 10%;
}
#app-logo2 {
    animation-delay: 2s;
    margin-left: 20%;
}
#app-logo3 {
    animation-delay: 3s;
    margin-left: 30%;
}
#app-logo4 {
    animation-delay: 4s;
    margin-left: 40%;
}

#app-logo5 {
    animation-delay: 4s;
    margin-left: 50%;
}
#app-logo6 {
    animation-delay: 4s;
    margin-left: 60%;
}
#app-logo7 {
    animation-delay: 4s;
    margin-left: 70%;
}
#app-logo8 {
    animation-delay: 4s;
    margin-left: 80%;
}
#app-logo9 {
    animation-delay: 4s;
    margin-left: 90%;
}

 
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

@keyframes loading_page_in {
    0% {
        width: 0vw;
    }
    100% {
        width: 100vw;
    }
}

@keyframes loading_page_out {
    0% {
        width: 100vw;
    }
    100% {
        width: 0vw;
    }
}

#loading-bar-space {
    transform: translateY(-100vh);
}


#contact-button {
    background-color: #979797;
    font-size: large;
    font-family: sans-serif;
}

header {

    position: fixed;
    width: 100%;
    background-image:
    linear-gradient(to bottom,rgba(23, 23, 23, 1), rgba(245, 246, 252, 0));
    z-index: 10000;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

header h2 {
    font-size: 3rem;
    color: var(--light);
}

.container{
    font-family: "Roboto Condensed", "Helvetica",sans-serif;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 10000;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
        padding: 10px 0;
    }

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
    
}

nav a {
    color: var(--grey);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--light);

}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--light);
    position: absolute;
    top: 0%;
    transition: all 0.2s;
}

nav a:hover::before{
    width: 100%;
}
