:root {
    --darkest: rgba(23, 23, 23, 1);
    --darker: #424242;
    --dark: rgb(109, 109, 109);
    --grey: #979797;
    --semilight: #c2c2c2;
    --light: #ececec;
    --mecute: "me pic 1.jpg";
    --grad: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --highlight1: rgb(184, 48, 48);
    --highlight2: rgb(48, 112, 184);
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.page {
    background-color: var(--darkest);
    background-image: url("background idea.png");
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    
}

#unity-page {
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0) 25%, rgba(23, 23, 23, 0) 75%, rgba(23, 23, 23, 1) 100%),
    url("unity screenshot.png");
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    text-align: center;
}



@keyframes intro_back {
    0%{
        background-position: 50% 50%;
    }
    20%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 1.jpg");
    }
    40%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 2.jpg");
    }
    50% {    
        background-position: 0% 0%;
    }
    60%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 3.jpg");
    }
    80%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 4.jpg");
    }
    100%{
        background-position: 50% 50%;
    }
}


#diagram {
    align-self: center;
    position: relative;
    width: 85vmin;
    height: 25vmin;
}

#diag-bar-shortcut {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;     
    z-index: 1;
}

#diagram-bottom {
    background-color: var(--grey);
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    animation: diagram-bot-anim 1s;
    animation-delay: 1s;

    animation-fill-mode: forwards;
    z-index: 9999;
}

#diagram-side {
    background-color: var(--grey);
    width: 4px;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: diagram-left-anim 1s;
    animation-delay: 1s;

    animation-fill-mode: forwards;
    z-index: 9999;
}



#diag-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    bottom: 0;
}

.diag-item {
    height: 100%;
    bottom: 0;
    position: relative;
    transform: rotate(180deg);
}

.skill-image {
    
    top: 0;
    width: 8vmin;
    height: 8vmin;
    position:relative;
    border-radius: 10px;
    animation: iconslideshow 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: rotate(360deg);

}


@keyframes diagram-bar-rise {
    0%{
        height: 0%;
        opacity: 0;
        width: 8vmin;
    }
    75%{
        height: 100%;
        width: 4vmin;
    }
    90%{
        height: 100%;
        width: 4vmin;
    }
    100%{
        opacity: 1;
        width: 8vmin;
    }
}

.diag-bar{
    background-image:
    linear-gradient(to top, var(--light), var(--darker));
    width: 8vmin;
    animation: diagram-bar-rise  0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.diag-bar:hover{
    background-image:
    linear-gradient(to top, var(--highlight1), var(--darker));
}

#diag-list .skill-image:nth-child(1)
{
    animation-delay: 3s;
}
#diag-list .skill-image:nth-child(2)
{
    animation-delay: 3.1s;
}
#diag-list .skill-image:nth-child(3)
{
    animation-delay: 3.2s;
}
#diag-list .skill-image:nth-child(4)
{
    animation-delay: 3.3s;
}
#diag-list .skill-image:nth-child(5)
{
    animation-delay: 3.4s;
}
#diag-list .skill-image:nth-child(6)
{
    animation-delay: 3.5s;
}


#diag-list .diag-item:nth-child(1) .diag-bar {
    
    height: 80%;
    animation-delay: 2s;

}

#diag-list .diag-item:nth-child(2) .diag-bar {
    
    height: 60%;
    animation-delay: 2.1s;
}

#diag-list .diag-item:nth-child(3) .diag-bar {
    

    height: 30%;
    animation-delay: 2.2s;

}

#diag-list .diag-item:nth-child(4) .diag-bar {
    

    height: 60%;
    animation-delay: 2.3s;

}

#diag-list .diag-item:nth-child(5) .diag-bar {
    

    height: 30%;
    animation-delay: 2.4s;

}

#diag-list .diag-item:nth-child(6) .diag-bar {
    

    height: 40%;
    animation-delay: 2.5s;

}

@keyframes diagram-left-anim {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes diagram-bot-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#introduction {
    background-image:
    linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
    url("me pic 1.jpg");
    background-size: 100vmax;
    display: flex;
    flex-direction: row;
    justify-content: left;
    animation: 30s  intro_back infinite;
    width: 100vw;
}

#intro-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

#the-hook h1 {
    font-size: 10vmin;
}

#the-hook h2 {
    font-size: 8vmin;
    padding-left: 5vmin;
    animation-delay: 3s;
}

#intro-center {
    background-image:
    linear-gradient(to top,rgba(23, 23, 23, 1), rgba(245, 246, 252, 0)),
    url("background idea.png");
    animation: background-tile 30s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}


#the-hook {
    align-self: center;
    max-width: 100%;
    min-width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




#diaholder {
    width: 40vmax;
}



#short-about {
    background-image:
    linear-gradient(to bottom,rgba(23, 23, 23, 1), rgba(245, 246, 252, 0)),
    url("background idea.png");
    animation: background-tile 30s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

#short-about2 {
    background-image:
    url("background idea.png");
    animation: background-tile 30s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

.coding-text {
    align-self: center;
    max-width: 100%;
    min-width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.coding-text h1 {
    opacity: 1;    
}

.coding-text h2 {
    opacity: 0.8;
    margin-left: 5vw;
}

.coding-text h3 {
    opacity: 0.6;
    margin-left: 10vw;
}

.coding-text p {
    opacity: 0.4;
    margin-left: 15vw;
}

.icons-home {
    align-self: center;
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    padding-left: 2.5vw;
}

#hello li {
    display: flex;
    flex-direction: row;
    padding: 0,0;
    margin-left: 2.5%;
    flex-wrap: nowrap;
    align-self: stretch;
    font-weight: 500;
}

#second-line {
    display: flex;
    flex-direction: row;
    padding: 0,0;
    margin-left: 5%;
    flex-wrap: nowrap;
    width: 5rem;
    align-self: stretch;
    height: min-content;
}

#introduction h1 {
    color: var(--light);
    font-size: 5vmax;
    padding-left: 1vw;
    transition: color 0.5s;
    overflow-wrap: unset;    
}

#introduction h1:hover {
    color: crimson
}

#introduction h2 {
    color: var(--light);
    font-size: 5vmax;
    padding-left: 1vw;
    transition: all 0.5s;
    overflow-wrap: unset;
}

#introduction h2:nth-child(1) {
    animation-delay: 1s;
}

#introduction h2:nth-child(1):hover {
    color: var(--grey);
}

#introduction h2:nth-child(2) {
    animation-delay: 1.2s;
}

#introduction h2:nth-child(2):hover {
    color: var(--grey);
}

#introduction h2:nth-child(3) {
    animation-delay: 1.4s;
}

#introduction h2:nth-child(3):hover {
    color: var(--highlight1);
}

#hello h3:nth-child(1) {
    animation-delay: 2.6s;
}
#hello h3:nth-child(1):hover {
    color: var(--grey);
}

#hello h3:nth-child(2) {
    animation-delay: 2.8s;
}

#hello h3:nth-child(2):hover {
    color: var(--grey);
}

#hello h3:nth-child(3) {
    animation-delay: 3.2s;
}

#hello h3:nth-child(3):hover {
    color: var(--highlight1);
}

#hello h3:nth-child(4) {
    animation-delay: 3.4s;
}

#hello h3:nth-child(4):hover {
    color: var(--grey);
}

.map {

}

.pin2 {
    position: relative;
    left: 62.5%;
    top: 77.3333333333%;
    border-radius: 50%;
    border: 8px solid var(--highlight1);
    width: 8px;
    height: 8px;
}

#introduction h2:hover {
    color: var(--highlight1);
}

#introduction h3 {
    color: var(--light);
    font-size: 5vmax;
    padding-left: 1vw;
    animation-delay: 1s;
    transition: all 0.5s;
    overflow-wrap:normal
}

@keyframes iconslideshow {
    0% {
        opacity: 0;

        transform: translateY(15vh) rotate(-360deg);
    }
    100% {
        opacity: 1;

        transform: translateY(0vh) rotate(360deg);
    }
}

.icon-pic-new {
    width: 80%;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    animation: 4s ease-in-out iconslideshow;
}

body {
    margin: 0px;
}



input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#contact-button {
    background-color: #979797;
    font-size: large;
    font-family: sans-serif;
}

#contact-me:hover {
    color: var(--highlight1);
    font-weight: 900;
}

@keyframes background-tile {
    0% {
        background-position: 0%, 0%;
    }
    100% { 
        background-position: 100%, 100%;
        
    }
}