:root {
    --darkest: rgba(23, 23, 23, 1);
    --darker: #424242;
    --dark: rgb(109, 109, 109);
    --grey: #979797;
    --semilight: #c2c2c2;
    --light: #ececec;
    --mecute: "me pic 1.jpg";
    --grad: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --highlight1: rgb(184, 48, 48);
    --highlight2: rgb(48, 112, 184);
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.page {
    background-color: var(--darkest);
    background-image: url("background idea.png");
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    
}

#unity-page {
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0.5) 25%, rgba(23, 23, 23, 0.5) 75%, rgba(23, 23, 23, 1) 100%),
    url("unity screenshot.png");
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#unity-page img {
    border-radius: 100%;
    width: 50vmin;
    height: 50vmin;
    bottom: 50%;
    transform: translateY(-50%);
}

#unity-page div {

}

#blend-page {
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0.5) 25%, rgba(23, 23, 23, 0.5) 75%, rgba(23, 23, 23, 1) 100%),
    url("blender screenshot.png");
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#blend-page img {

    width: 50vmin;
    height: 50vmin;
    bottom: 50%;
    transform: translateY(-50%);
}

#blend-page div {

}


#sharp-page {
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0.5) 25%, rgba(23, 23, 23, 0.5) 75%, rgba(23, 23, 23, 1) 100%),
    url("csharp screenshot.png");
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#sharp-page img {

    width: 50vmin;
    height: 50vmin;
    bottom: 50%;
    transform: translateY(-50%);
}

#sharp-page div {
    
}

#html-page {
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0.5) 25%, rgba(23, 23, 23, 0.5) 75%, rgba(23, 23, 23, 1) 100%),
    url("html screenshot.png");
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#html-page img {

    width: 50vmin;
    height: 50vmin;
    bottom: 50%;
    transform: translateY(-50%), rotate(0deg);
    animation: html-icon-switcher 6s infinite;
}

#html-page div {
       
}

@keyframes html-icon-switcher {
    
    20% {
        transform: translateY(-50%), rotate(0deg);
        opacity: 1;
    }
    
    25% {
        content: url("2.png");
        opacity: 0;
        transform: translateY(-50%), rotate(-360deg);
    }

    30% {
        transform: translateY(-50%), rotate(0deg);
        opacity: 1;
    }

    70% {
        transform: translateY(-50%), rotate(0deg);
        opacity: 1;
    }
    
    75% {
        content: url("4.png");

        opacity: 0;
        transform: translateY(-50%), rotate(-360deg);
    }

    80% {
        transform: translateY(-50%), rotate(0deg);
        opacity: 1;
    }

}



#python-page {
    background-image:
    linear-gradient(to bottom, rgba(23, 23, 23, 1) 0%, rgba(23, 23, 23, 0.5) 25%, rgba(23, 23, 23, 0.5) 75%, rgba(23, 23, 23, 1) 100%),
    url("csharp screenshot.png");
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    color: var(--light);
    width: 100%;
    font-weight: 100;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#python-page img {

    width: 50vmin;
    height: 50vmin;
    bottom: 50%;
    transform: translateY(-50%);
}

#python-page div {
    
}


@keyframes intro_back {
    0%{
        background-position: 50% 50%;
    }
    20%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 1.jpg");
    }
    40%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 2.jpg");
    }
    50% {    
        background-position: 0% 0%;
    }
    60%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 3.jpg");
    }
    80%{
        background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
        url("me pic 4.jpg");
    }
    100%{
        background-position: 50% 50%;
    }
}


#diagram {
    align-self: center;
    position: relative;
    width: 85vmin;
    height: 25vmin;
}

#diag-bar-shortcut {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;     
    z-index: 1;
}

#diagram-bottom {
    background-color: var(--grey);
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    animation: diagram-bot-anim 0.5s;
    animation-delay: 1s;

    animation-fill-mode: forwards;
    z-index: 9999;
}

#diagram-side {
    background-color: var(--grey);
    width: 4px;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: diagram-left-anim 0.5s;
    animation-delay: 1s;

    animation-fill-mode: forwards;
    z-index: 9999;
}



#diag-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    bottom: 0;
}

.diag-item {
    height: 100%;
    bottom: 0;
    position: relative;
    transform: rotate(180deg);
}

.skill-image {
    
    top: 0;
    width: 8vmin;
    height: 8vmin;
    position:relative;
    border-radius: 10px;
    animation: iconslideshow 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: rotate(360deg);

}


@keyframes diagram-bar-rise {
    0%{
        height: 0%;
        opacity: 0;
        width: 8vmin;
    }
    75%{
        height: 100%;
        width: 4vmin;
    }
    90%{
        height: 100%;
        width: 4vmin;
    }
    100%{
        opacity: 1;
        width: 8vmin;
    }
}

.diag-bar{
    background-image:
    linear-gradient(to top, var(--light), var(--darker));
    width: 8vmin;
    animation: diagram-bar-rise  0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.diag-bar:hover{
    background-image:
    linear-gradient(to top, var(--highlight1), var(--darker));
}

#diag-list .skill-image:nth-child(1)
{
    animation-delay: 2.5s;
}
#diag-list .skill-image:nth-child(2)
{
    animation-delay: 2.6s;
}
#diag-list .skill-image:nth-child(3)
{
    animation-delay: 2.7s;
}
#diag-list .skill-image:nth-child(4)
{
    animation-delay: 2.8s;
}
#diag-list .skill-image:nth-child(5)
{
    animation-delay: 2.9s;
}
#diag-list .skill-image:nth-child(6)
{
    animation-delay: 3s;
}

#diag-list .diag-item:nth-child(1) .diag-bar {
    height: 80%;
    animation-delay: 1.5s;
}
#diag-list .diag-item:nth-child(2) .diag-bar {
    height: 60%;
    animation-delay: 1.6s;
}
#diag-list .diag-item:nth-child(3) .diag-bar {
    height: 60%;
    animation-delay: 1.7s;
}
#diag-list .diag-item:nth-child(4) .diag-bar {
    height: 40%;
    animation-delay: 1.8s;
}
#diag-list .diag-item:nth-child(5) .diag-bar {
    height: 30%;
    animation-delay: 1.9s;
}
#diag-list .diag-item:nth-child(6) .diag-bar {
    height: 30%;
    animation-delay: 2s;
}

@keyframes diagram-left-anim {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@keyframes diagram-bot-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#introduction {
    background-image:
    linear-gradient(to bottom, rgba(109, 109, 109, 0.5), rgba(23, 23, 23, 1)),
    url("me pic 1.jpg");
    background-size: 100vmax;
    display: flex;
    flex-direction: row;
    justify-content: left;
    animation: 30s  intro_back infinite;
    width: 100vw;
}

#intro-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

#the-hook h1 {
    font-size: 10vmin;
}

#the-hook h2 {
    font-size: 8vmin;
    padding-left: 5vmin;
    animation-delay: 2s;
}

#intro-center {
    background-image:
    linear-gradient(to top,rgba(23, 23, 23, 1), rgba(245, 246, 252, 0)),
    url("background idea.png");
    animation: background-tile 30s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100vh;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

#the-hook {
    align-self: center;
    max-width: 100%;
    min-width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#diaholder {
    width: 40vmax;
}

#short-about {
    background-image:
    linear-gradient(to bottom,rgba(23, 23, 23, 1), rgba(245, 246, 252, 0)),
    url("background idea.png");
    animation: background-tile 30s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

#short-about2 {
    background-image:
    url("background idea.png");
    animation: background-tile 30s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    font-weight: 100;
    width: 100vw;
}

.coding-text {
    align-self: center;
    max-width: 100%;
    min-width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.coding-text h1 {
    opacity: 1;    
}

.coding-text h2 {
    opacity: 0.8;
    margin-left: 5vw;
}

.coding-text h3 {
    opacity: 0.6;
    margin-left: 10vw;
}

.coding-text p {
    opacity: 0.4;
    margin-left: 15vw;
}

@keyframes iconslideshow {
    0% {
        opacity: 0;
        transform: translateY(15vh) rotate(-360deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh) rotate(360deg);
    }
}

.icon-pic-new {
    width: 80%;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    animation: 4s ease-in-out iconslideshow;
}

body {
    margin: 0px;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#contact-button {
    background-color: #979797;
    font-size: large;
    font-family: sans-serif;
}

#contact-me:hover {
    color: var(--highlight1);
    font-weight: 900;
}

@keyframes background-tile {
    0% {
        background-position: 0%, 0%;
    }
    100% { 
        background-position: 100%, 100%;
        
    }
}